/* *{
    margin: 0%;
    padding: 0px;
}
img{
    padding-top: 20px;
    width: 500px;
    height: 500px;
}
.main{
    display: flex;
}
.container{
    align-items: center;
    padding-top: 15%;
    padding-left: 10%;
    font-size: 20px;
    font-family: fantasy;
    color: rgb(71, 68, 68);
} */