*{
    font-family: fantasy;
    padding: 0%;
    margin: 0%;
    background-color: green;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
form{
    background-color: white;
}
.sign-up{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 10% auto 0;
    text-align: center;
    background-color: #fff;
}
.sign-up h1{
    color: #1c8adb;
    margin-bottom: 30px;
    background-color: #fff;
}
p a{
    background-color: #fff;
 }

p{
    background-color: #fff;

}
.input-box{
    background-color: #fff;
    width: 150px;
    padding: 10px;
    padding-right: 100px;
    margin: 10px 0;
    margin-left: 20px;
    border-radius: 20px;
    display: table;
    outline: none;
}
button{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
}