@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
* {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'EB Garamond', serif;    
}
/* navbar one */
.navbar{
    position: sticky;
    z-index: 9999;
    background: rgba(83, 126, 4, 0.884);
    display: flex;
    height: 70px;
    text-transform: capitalize;
    top: 0%;
}
.nav_menu{
    list-style: none;
    display: flex;
}
li a{
    text-decoration: none;
}
.nav_link{
    color: rgb(241, 234, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 127px;
    text-decoration: none;
    height: 100%;
}
.nav_btn{
    width: 100%;
    padding-left: 500px;
}
.login:hover{
    color: #fff;
}
.login{
    color: white;
}
.nav_link:hover{
    color: #fff;
    transition: all 0.3s ease;
}
.cart{
    width: 100px;
    height: 70px;
}

/* navbar2 */

/* landing page */

.mySlides{
    position: relative;
    position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 90vh;
}
.navbar2{
    background-color: rgb(195, 235, 200);
    position: absolute;
    display: flex;
    top: 81%;
    padding: 20px;
    padding-right: 66.3%;

}
#heading{
    font-size: 500%;
    margin-top: 200px;
}
.icon{
    display: flex;
}

#icon1{
    width: 80px;
    height: 70px;
    margin-left: 120%;
}
#icon2{
    width: 80px;
    height: 70px;
    margin-left: 320%;
}
#icon3{
    width: 80px;
    height: 70px;
    margin-left: 450%;
}
#icon4{
    width: 80px;
    height: 70px;
    margin-left: 600%;

}



/* about */
.main{
    height: 70vh;
    background-color: rgba(128, 128, 128, 0.123);
    display: flex;
}
.image1{
    margin: auto;
    width: 500px;
    height: 60vh;
    padding: 40px;
    padding-top: 60px;
}

.about_container{
    align-items: center;
    padding-top: 10%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 20px;
    color: rgb(71, 68, 68);
}

/* Products */
.productsh{
     margin-left: 40%;
     margin-top: 4%;
}
img{
    height: 150px;
    width: 200px;
    margin-top: 0%;
}
.p{
    color: green;
    cursor: pointer;
    text-decoration: none;
}
.h5:hover{
    text-decoration: none;
    color: rgb(133, 190, 19);
}
.row{
    margin-top: 20px;
    padding-bottom: 30px;
}
.card{
    border-bottom-width: 1px;
}
.card1{
    display: block;
}
.shop-item{
    box-shadow: 5px 5px 5px rgb(223, 228, 215);
}
#contacts{
    width: 200%;
    background-color: #035507;
}
#sign-up{
    margin-left: 200px;
}
.bigContainer{
    margin-top: 0%;
    display: flex;
}
.categories{
    background-color: wheat;
    height: 70vh;
    width: 13vw;
    margin-left: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;

}
.items{
    margin-left: 2%;
}

.add-cart-button{
    box-shadow: 10px 15px 30px rgb(167, 221, 60);
    background-color: rgb(14, 109, 6);
    margin-left: 20%;
    padding: 5px;
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 7%;
    border-radius: 25px;
}
.add-cart-button:hover{
    color: yellow;
}
.all-cart-item{
    display: flex;
}

.cart-total{
    display: flex;

}
.shop-item-body{
    margin-left: 20%;
    margin-right: auto;}
footer{
    padding-top: 23%;
    margin: auto;
    padding-left: 45%;
}

